body {
    @apply pb-10 min-h-full;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply max-w-[90%] lg:max-w-[1024px] m-auto w-full;
}

a {
    @apply hover:underline
}

em {
    @apply text-t-mobile not-italic font-bold
}

p, ul {
    @apply font-roboto font-light
}


@layer components {
    .resume-name {
        @apply font-poppins uppercase text-[33px] tracking-wider font-bold text-[#C45B52];
    }
    .resume-title {
        @apply font-lato text-[18px];
    }
    .resume-subsection-title {
        @apply font-poppins text-[16.3px] font-bold uppercase text-[#C45B52];
    }
    .resume-role-title {
        @apply font-lato text-[14.4px] font-bold;
    }
    .resume-role-company {
        @apply font-lato text-[13px] font-bold;
    }
    .resume-description {
        @apply font-lato text-[13px] tracking-wider;
    }

    @property --x{
        syntax: '<percentage>';
        inherits: false;
        initial-value: 10%;
    }
    @property --y{
        syntax: '<percentage>';
        inherits: false;
        initial-value: 0%;
    }

    @property --c {
        syntax: '<color>';
        inherits: false;
        initial-value: #f2c0bd;
    }

    body {
        --x:10%;
        --y:0%;
        background: #F2D0D4 radial-gradient(farthest-corner ellipse at var(--x) 0%, var(--c) 0%, var(--c) 8%, var(--c) 25%, #F2D0D4 40%, #F2D0D4 62.5%);
        animation: move 40s ease infinite alternate;
        -webkit-animation: move 40s ease infinite alternate;
        -moz-animation: move 40s ease infinite alternate;
        background-size: cover;

    }

    @keyframes move {
        0% {
            --x:10%;
            --y:0%;
            --c: #f2c0bd;
        }
        50% {
            --c: #EED0F2
        }
        100% {
            --x:80%;
            --y:100%;
            --c: #F2D0E5;
        }
    }
    
    .caption {
        @apply font-lato text-t-mobile;
    }
    
}