/* mobile first design */
body{
  background-color: #eeee;
  text-align: center;
  margin: 0px;
  padding: 3%;
  font-family: Avenir, sans-serif;

}

main{
  z-index: -1;
}

.container{
  background-color: white;
  min-height: 100vh;
  max-height: 100%;
  padding-bottom: 15%;
}

.innerContainer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.wholeLogo{
  margin-top: 8%;
  margin-bottom: 5%;
}

.wholeLogoShake{
  animation-name: shake;
  animation-duration: 2s;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 2s;
}

.wholeLogoDesktop{
  display: none;

}

.wholeLogoMobile{
  display: inline;
}


/*navigation bar styles */
.navBar{
  padding:0;
  display: flex;
	list-style: none;
  margin-bottom: 18%;
}

.navBar li{
  flex: 1;
  justify-content: center;
}

.navBar li:hover{
  /* filter: blur(.5px); */
  letter-spacing: .1rem;
}

.navBar a:link, .navBar a:visited{
  text-decoration: none;
  color: black;
}

.activeNav{
  font-weight: bold;
}

h2{
  font-family: "Hiragino Kaku Gothic StdN", sans-serif;
}



/* Modal styles */
.contactModal{
  background-color: rgba(231, 121, 0, .5);
  position: fixed;
  z-index: .8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}

.contactModalContent{
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-top: 30%;
  z-index: 1;
  background-color: white;
}

.contactModalContent p{
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contactBtn:hover{
  cursor: pointer;
}

.modalHeader {
  font-family: "Hiragino Kaku Gothic StdN", sans-serif;
    padding: 2px 16px;
    background-color: #e77900;
    color: white;
}

.contactModalContent i{
  font-size: 4em;
  margin-right: 1%;
  margin-left: 1%;
}

.fa-facebook-square:hover{
  color: #43609C;
}

.fa-github-square:hover{
  color: #262626;
}

.fa-linkedin-square:hover{
  color: #007bb5;
}

.fa-envelope:hover{
  color: #cb2027;
}

.closeBtn{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover{
  cursor: pointer;
  color: black;
}

/* styles for sections that slidedown */
.panelSects .panelLists{
  font-size: 1.2em;
  list-style: none;
  padding: 0px;
  margin-left: 15%;
}


.revealWhole{
  margin-bottom: 8%;
}

.revealClick{
  border-left: #e77900 1px solid;
  padding-left: 2%;
}

.revealClick:hover{
  cursor: pointer;
  letter-spacing: .1rem;
}

.revealPanel{
  height: 0;
  transition: height 1s ease-out;
  overflow: hidden;
  margin-left: 7%;
}

.revealPanel ul{
  padding-top: 3%;
  padding-left: 0;
  font-size: .9em;
}



/*link styles */
.panelSects .revealPanel a:link, .panelSects .revealPanel a:visited{
  color: #e77900;
  text-decoration: underline;
}

.panelSects .revealPanel a:hover{
  color: white !important;
  background-color: #e77900;
  padding: 1%;

}

.contactModalContent a:link, .contactModalContent a:visited{
  color: black;
}


.fadeUpElem{
  animation-name: fadeInUpLight;
  animation-duration: 2s;
  -webkit-animation-name: fadeInUpLight;
  -webkit-animation-duration: 2s;
}


//custom CSS animations
@keyframes fadeInUpLight{
	from{opacity: 0; margin-top: 20%;}
  to{opacity: 1;}
}

@-webkit-keyframes fadeInUpLight{
	from{opacity: 0; margin-top: 20%;}
  to{opacity: 1;}
}



@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}



@media only screen and (min-width: 768px) {
  body{
    padding-left: 10%;
    padding-right: 10%;
  }

  .innerContainer{
    width: 60%;
  }

  .navBar{
    margin-bottom: 8%;

  }

  .navBar li{
    font-size: 1.1em;
  }

  .contactModalContent{
    margin-top: 10%;
    width: 50%;
  }

  .wholeLogoMobile{
    display: none;
  }

  .wholeLogoDesktop{
    display: inline;
    width: 100%;
    text-align: center;
  }
}
