section h2{
  font-size: 1.2em;
}


/*
.innerContainer{
  width: 80%;
} */

.organizationTitle{
  font-size: 1.8em;
  margin-bottom: 10%;
  /* background-color: #e77900;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%; */
}

.newOrgs{
  margin-bottom: 15%;
}

.newOrgs h1 a:link, .newOrgs h1 a:visited{
  background-color: #e77900;
  color: white;
  padding: 1%;
  text-decoration: none;
}

.newOrgs h1 a:hover{
  color: #e77900;
  background-color: white;
}


.articlesRow{
  display: grid;
  grid-template-columns: 36% 65%;
  justify-items: center;
  align-content: center;
}

#seeMore{
  font-size: 1.3em;
}
#seeMore a:link, #seeMore a:visited{
  color: black;

  text-decoration: none;
}

#seeMore a:hover{
  color: #e77900;
}

.articleBody{

  text-align: left;
}

.articleCol1{
  align-self: center;
  justify-self: center;
}
.articleCol1 img{
  width: 100%;
  height: auto;
}

article{
  margin-bottom: 10%;
}
.articleCol2{
  margin-left: 7%;
}


.articleCol2 a:link, .articleCol2 a:visited{
  color: black;
  text-decoration: none;
}

.articleCol2 a:hover{
  color: #e77900;
}
